<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1532},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1874},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1721},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1561},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1532},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1379},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1379},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1379},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1415},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1379},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1226},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1226},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1226},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1226},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1073},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1073},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1073},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1109},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1073},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,920},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,920},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,920},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,920},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,767},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,767},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,767},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,767},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,614},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,614},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,614},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,614},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,461},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,461},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,461},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,461},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,308},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,308},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,308},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,308},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,155},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,155},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,155},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,155},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>btn_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1532},{212,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_bujiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1532},{212,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_bujiao2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1596},{206,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{206,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_bujiao_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1596},{206,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{206,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1382},{212,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_buqiang_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1743},{206,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{206,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1168},{212,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_chupai_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1714},{206,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{206,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_chupai_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,954},{212,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_jiaodizhu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1685},{206,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{206,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_jiaodizhu_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,740},{212,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_qiangdizhu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1685},{206,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{206,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_qiangdizhu_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,526},{212,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>btn_start_app.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,264},{260,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,92}}</string>
                <key>sourceSize</key>
                <string>{260,92}</string>
            </dict>
            <key>btn_start_app2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{260,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,92}}</string>
                <key>sourceSize</key>
                <string>{260,92}</string>
            </dict>
            <key>jiaose_dizhu_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1804},{95,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{95,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>jiaose_nongmin_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1746},{121,129}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{121,129}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>touxiang_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,187}}</string>
                <key>sourceSize</key>
                <string>{187,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fde82151ec45f59950b5d79b182603a$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
